:root {
  --text-alignment: center;
  --branding-color: #6c63ff;
  --secondary-color: #b2b2b74e;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: (--default-font-family);
}

.my-name {
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
}
p {
  margin-bottom: 48px;
  font-size: 24px;
  font-family: var(--heading-font-family);
}
a {
  text-align: center;
}
.home-text {
  display: block;
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.contact-button {
  display: inline-block;
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
}
