:root {
  --text-alignment: center;
  --branding-color: #6c63ff;
  --secondary-color: #c7c7cd27;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.section-border {
  display: block;
  background: var(--secondary-color);
  text-align: center;
  padding: 110px 20px;
}
.section-border-no-background {
  display: block;
  text-align: center;
  padding: 110px 20px;
}

.hello-text {
  font-family: (--default-font-family);
  font-size: 36px;
  font-weight: bold;
}

.my-name {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h4 {
  font-family: var(--heading-font-family);
}

.navigation-links {
  display: inline-block;
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
}
p {
  font-size: 20px;
}
.container {
  margin: 0 50px;
}
nav img {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  list-style: none;
  padding: 0;
  margin: 0 7px;
  display: inline;
  line-height: 42px;
}
nav a {
  text-decoration: none;
  color: #272142;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
nav a:hover,
nav a.active {
  color: var(--branding-color);
}

.project-header {
  font-size: 64px;
  font-weight: bold;
}

.button-learn-more {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .project-header {
    font-size: 36px;
  }
  .my-name {
    font-size: 36px;
  }
  .hello-text {
    font-family: (--default-font-family);
    font-size: 24px;
  }
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.about-part {
  margin: 10px 30px 30px 30px;
}
.about-name {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.about-location {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.work-project {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  margin: 0;
}
.built-with {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 16px;
  font-weight: bold;
}
.contact-section {
  background: var(--secondary-color);
}

h4 {
  font-family: var(--heading-font-family);
}
.social-media {
  margin: 20px 50px;
  color: var(--branding-color);
}

.social-media a {
  color: var(--branding-color);
  margin: 0 20px;
}

.social-media a:hover {
  color: #6c757d;
}
