:root {
  --text-alignment: center;
  --branding-color: #6c63ff;
  --secondary-color: #b2b2b74e;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.home-text {
  display: block;
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hello-text {
  font-family: (--default-font-family);
  font-size: 36px;
  font-weight: bold;
}

.my-name {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h4 {
  font-family: var(--heading-font-family);
}

.contact-button {
  display: inline-block;
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
}
p {
  font-size: 20px;
}

.project-header {
  font-size: 64px;
  font-weight: bold;
}

.button-learn-more {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .project-header {
    font-size: 36px;
  }
}
